$Pale_Blue: #358FC1;
$Dark_Blue: #0289D0;
$Dark_Gray: #7C7C7C;
$Gray: #D6D6D6;
$Light_Gray: #EFEFEF;
$Medium_Gray: #C4C4C4;
$Light_Black: #2B2B2B;
$Light_Blue: #67B6FF;
$Green: #87D639;
$Orange: #FFCA28;